{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}

<h2>{{ product.name }}</h2>

<table>
    <thead>
        <tr>
            <th>Product {{ product.id}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ product.name }}</td>
        </tr>
        <tr>
            <td>{{ product.description }}</td>
        </tr>
        <tr>
            <td>{{ product.price }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}